@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fc-small-font-size: 0.85em;
  --fc-page-bg-color: #fff;
  --fc-neutral-bg-color: rgba(208, 208, 208, 0.3);
  --fc-neutral-text-color: #808080;
  --fc-border-color: #ddd;

  --fc-button-text-color: #fff;
  --fc-button-bg-color: rgb(148, 163, 184);
  --fc-button-border-color: rgb(148, 163, 184);
  --fc-button-hover-bg-color: rgb(226 232 240);
  --fc-button-hover-border-color: rgb(226 232 240);
  --fc-button-active-bg-color: rgb(12 74 110);
  --fc-button-active-border-color: rgb(12 74 110);

  --fc-event-bg-color: #3788d8;
  --fc-event-border-color: #3788d8;
  --fc-event-text-color: #fff;
  --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);

  --fc-more-link-bg-color: #d0d0d0;
  --fc-more-link-text-color: inherit;

  --fc-event-resizer-thickness: 8px;
  --fc-event-resizer-dot-total-width: 8px;
  --fc-event-resizer-dot-border-width: 1px;

  --fc-non-business-color: rgba(215, 215, 215, 0.3);
  --fc-bg-event-color: rgb(143, 223, 130);
  --fc-bg-event-opacity: 0.3;
  --fc-highlight-color: rgba(188, 232, 241, 0.3);
  --fc-today-bg-color: rgb(40, 115, 159);
  --fc-now-indicator-color: red;
}

.fc .fc-col-header-cell {
  background-color: rgb(12 74 110);
  padding: 0.5em;
  text-align: center;
  color: #fff;
}

.ql-editor {
  min-height: 120px;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
}
